@font-face {
    font-family: IBMBold;
    src: url(../../fonts/ParksonPERSONALUSE-DemiBold.otf);
    font-display: swap;
}

@font-face {
    font-family: IBMMedium;
    src: url(../../fonts/IBMPlexSansThai-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: IBMLight;
    src: url(../../fonts/IBMPlexSansThai-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: IBMRegular;
    src: url(../../fonts/IBMPlexSansThai-Regular.ttf);
    font-display: swap;
}
