// Вспомогательные классы//

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.unhide{
    display: block!important;
}

.title{
    @include adaptiv-value('font-size',180,90,1);
    line-height: .8;
    letter-spacing: 5px;
    background: linear-gradient(151deg, rgba(70,185,162,1) 0%, rgba(70,185,162,1) 65%, rgba(105,183,209,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-IBMBold;
    text-transform: uppercase;
    color: $maincolor;
}



